@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;700&display=swap');

* {
    margin: 0;
    box-sizing: border-box;
    padding: 0px;
    font-family: Roboto;
}

html {
    font-size: 62.5%;
}

header div p {
    background-color: #222222;
    color: #F3F3F3;
    height: 20px;
    font-size: 1rem;
    padding-top: 5px;
    padding-left: 90px;
}

header nav {
    background-color: #F0A83E;
    color: #FFFFFF;
    height: 62px;
}

header nav ul ::before {
    content: url(./img/pawprint_mini.png);
    padding-right: 4px;
}

.contenedor-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 4rem;
}

header nav ul {
    list-style: none;
    font-size: 1.3rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 3rem;
}

li {
    padding: 10px;
}

.main-principal {
    background-image: url(./img/bowl-and-pet-daities-on-green-background\ 1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 485px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;

}


main h1 {
    background-color: #FFFFFF;
    color: #3C2313;
    font-size: 3rem;
    border-radius: 5px;
    width: 36.5rem;
    height: 5.4rem;
    padding: 5px;
    margin-right: 80px;
}

.main-principal p {
    font-size: 1.6rem;
    margin-right: 160px;
    color: black;
}

.main-principal button {
    border-radius: 5px;
    font-size: 1.6rem;
    margin-right: 190px;
    color: white;
}

.productos-destacados {
    margin-top: 20px;
    font-size: 34px;
    text-align: center;
}

.productos-destacados ul {
    font-size: 1.5rem;
    display: flex;
    flex-direction:row;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.productos-destacados ul ::after {
    content: '-';
    padding-left: 10px;
    
}

.main-principal button {
    background-color: #F0A83E;
    color: #3C2313;
    height: 49px;
    width: 141px;
    border: none;
}

main div ul li {
    list-style: none;
}

main section {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.contenedor-productos {
    background-color: #FBFAF6;
}

article {
    padding: 10px;
}

main section p {
    color: #F0A83E;
    font-size: 1.5rem;
    text-align: center;
}

main section h6 {
    color: #3C2313;
    font-size: 1.5rem;
    text-align: center;
}

main form h3{
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 20px;
}

main form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

main form input {
    background-color: #3C2313;
    color: white;
    height: 40px;
    width: 340px;
    border-radius: 15px;
    padding-left: 15px;
    margin: 5px;
}

.button-form [type="reset"] {
    background-color: #8A8787;
    width: 110px;
    height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.button-form [type="submit"] {
    background-color: #F0A83E;
    width: 110px;
    height: 34px;
    font-size: 16px;
    border-radius: 15px;
    color: white;
    margin-top: 40px;
    margin-bottom: 20px;
}

.newsletter {
    background-color: #F0A83E;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 3%;
    padding-right: 3%;
}

.newsletter p {
    font-size: 20px;
    color: white;
    font-weight: bold;
}

.newsletter input {
    background-color: white;
    color: black;
    border-radius: 15px;
    border: none;
}

.newsletter button {
    background-color: #3C2313;
    color: white;
    border-radius: 15px;
    height: 34px;
    width: 70px;
    font-size: 9px;
}

.datosContacto {
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 80px;
}

footer h3 {
    font-size: 2rem;
}

footer h6 {
    font-size: 1rem;
    margin: 5px;
}


.contenedorFooter{
    background-color: #3C2313;
    height: 284px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logoFooter{
    display: flex;
    align-items: center;
    padding-right: 80px;
}

.derechosFooter {
    background-color: #222222;
    height: 20px;
    color: #FFFFFF;
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}